/* style.css
Author: Michael Mathews 2020
*/

html, body {
    margin: 0;
    padding: 0;
  }
  canvas {
    display: block;
  }

td, th {
  background-color: #cccccc;
  padding: 4px;
}
#items_table {
  border: 1px dotted blue;
}
#items_table h2 {
  margin-top: 0px;
}
label {
  vertical-align: top;
}